/*Sidebar style*/
.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar{
    width:290px;
   
    transition: all 0.3s;
    background: #43425D;
}
.sidebar-heading{
    background-color: #3C3B54;
    color: #FFF;
    padding: 5% 0;
    padding-left: 2.7%;   
}
.sidebar-list{
    background-color: #43425D; 
    width: 290px;
   max-height: 100%;
}
.sidebar-list>ul>li{
    display: block;
    width: 290px;
    height: 54px;
    padding: 5% 0;    
}
.sidebar-list>ul>li>a{
    color: #FFF;
    text-decoration: none;
}
#sidebar.active {
    margin-left: -290px;
}
#content {

   
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    border-top-left-radius: 30px;
    border-left: #43425D;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -290px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*Main*/
.navbar{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #0000000A;
border-radius: 25px 0px 0px 0px;
opacity: 1;
top: 0px;
}
#content>nav>.container-fluid>ul>li>a>img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
#content>nav>.container-fluid>form>input{
    width: 300px;
height: 20px;
text-align: left;
font: normal normal normal 16px/20px Source Sans Pro;
letter-spacing: 0px;
color: #4D4F5C;
opacity: 1;
border: none;
}
.overview{
    width: 100%;
    
}.overview>h3{
    display: inline-block;
    margin-top: 104px;
padding-left: 40px;
height: 36px;
color: #43425D;
text-align: left;
font: normal normal 600 28px/40px Source Sans Pro;
letter-spacing: 0px;
color: #43425D;
opacity: 1;
}.overview>button{
    display: inline;

    margin-left: 70%;
    background-color: #6763E3;
    color: #FFF;
    width: 160px;
height: 48px;
border-radius: 10px;
border-style: none;
transition: all 0.5s;
}
.overview>button:hover{
    background-color: #514DDC;
    transform: scale(1.1);
    transition: all 0.5s;
}
.charts{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;      
}
.charts>.graph{
    width: 586px;
height: 443px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-top: 38px;
}.card-body>img{
    width: 496px;
height: 264px;
opacity: 0.7;
margin-top: 80px;
margin-bottom: 90px;
margin-left: 65px;
margin-right: 24.52px;
}.card-header>h6{
    display: inline-block;
    padding-top: 18px;
    padding-left: 25px;
}.charts>.pie{
    width: 582px;
height: 443px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-top: 38px;
}
.charts>.profile-card{
    width: 586px;
height: 588px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-top: 40px;
}.profile-header>img{
    width: 96px;
height: 96px;
opacity: 1;
border-radius: 100%;
display: block;
margin: auto;
margin-top: 40px;
}.profile-header>h6{
  text-align: center;
  margin-top: 20px;
  font: normal normal 600 18px/13px Source Sans Pro;
letter-spacing: 0px;
color: #4D4F5C;
opacity: 1;
}.profile-header>p{
    width: 78px;
height: 18px;
text-align: center;
font: normal normal normal 14px/25px Source Sans Pro;
letter-spacing: 0px;
color: #43425D;
opacity: 0.5;
margin: auto;
}.profile-header>.cta{
    text-align: center;
    margin-top: 17px;
}.profile-header>.cta>.fa-brands{
    width: 19px;
height: 15px;
color: #556575 0% 0% no-repeat padding-box;
opacity: 0.4;}
.profile-header>.cta>.fa-brands:hover{
transform: scale(1.1);
transition: all 1s;
}.profile-card>hr{
    color: #556575;
    opacity: 0.3;
    margin: auto;
    margin-top: 1%;
    width: 546px;
}.user-card>h6{
    width: 114px;
height: 24px;
text-align: left;
font: normal normal normal 18px/24px Segoe UI;
letter-spacing: 0px;
color: #4D4F5C;
opacity: 1;
margin-left: 25px;
margin-top: 10px;
}.user-list>ul>li>img{
   
    width: 50px;
height: 50px;
border-radius: 100%;
}
.user-list>ul>li>h6{
    display: inline;
    width: 84px;
    height: 20px;
    text-align: left;
    font: normal normal 600 16px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 1
}
.users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.users>.users-img>img{
    width: 50px;
height: 50px;
opacity: 1;
border-radius: 100%;
}.users>.users-name>h6{
    width: 84px;
height: 20px;
text-align: left;
font: normal normal 600 16px/13px Source Sans Pro;
letter-spacing: 0px;
color: #4D4F5C;
opacity: 1;
}.users>.users-name>p{
    width: 78px;
height: 18px;
text-align: left;
font: normal normal normal 14px/25px Source Sans Pro;
letter-spacing: 0px;
color: #43425D;
opacity: 0.5;
}.users>.users-tel>p{
    width: 118px;
height: 18px;
text-align: left;
font: normal normal normal 14px/25px Source Sans Pro;
letter-spacing: 0px;
color: #43425D;
opacity: 0.5;
}.table{
    width: 1208px;
height: 488px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-top: 38px;

}.table>h6{
    width: 61px;
height: 23px;
text-align: left;
font: normal normal normal 18px/13px Source Sans Pro;
letter-spacing: 0px;
color: #4D4F5C;
opacity: 1;
margin-top: 18px;
margin-left: 24px;
}.video{
    width: 586px;
height: 343px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-top: 200px;
}
.video>h6{
    width: 106px;
height: 23px;
text-align: left;
font: normal normal normal 18px/23px Source Sans Pro;
letter-spacing: 0px;
color: #4D4F5C;
opacity: 1;
margin-top: 18px;
margin-left: 25px;
}.video>video{
    width: 536px;
height: 248px;
border-radius: 6px;
opacity: 1;
}


footer{
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    
   width: 100%;
   height: 100px;
}
.footer{
    width: 100%;
    color: #A4AFB7;
    margin-top: 2%;
}